@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.container-main{
  padding: 8px 16px;
}
.comment-container{
  min-height: 80vh;
}
.comment-section{
  background-color: #8d9195;
  display: grid;
  grid-template-columns: 3fr 1fr;
  color: white;
}
